<article class="main">
  <h1>Conz's Write Ups</h1>

  <ul>
    <li>
      <a href="ruby/private-vs-protected">Ruby - Private vs. Protected</a>
    </li>

    <li>
      <a href="heroku/node">Heroku deployment - Node.js</a>
    </li>

    <li>
      <a href="<%= git_index_url %>">Git</a>

      <ul>
        <li><a href="<%= git_url("commands") %>">Commands</a></li>
        <li><a href="<%= git_url("committing") %>">Committing changes</a></li>
        <li><a href="<%= git_url("fix-commit") %>">Fixing commits</a></li>
        <li><a href="<%= git_url("reverting") %>">Reverting to an old commit</a></li>
      </ul>
    </li>
  </ul>
</article>
